body {
  background-color: #072007;
  color: #5F93FC;
  display: grid;
  grid-template-columns: 150px auto;
  margin: 0;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Nav Search"
    "Nav Content"
    "Nav Footer";
}

@media (max-width: 1200px) {
  body {
    grid-template-columns: 150px 500px;
  }
}

.Nav { grid-area: Nav; }

.Search { grid-area: Search; }

.Content { grid-area: Content; }

.Footer {grid-area: Footer;}